/* UploadProducts.css */
#header1 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
  }
  
  form {
    /* border: 1px solid rgb(54, 54, 54); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .waiting {
    /* text-align: center; */
    padding-top: 2%;
    color: white;
  }
  
  input {
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #3275F8;
  }
  

  .submit-button {
    display: flex;
    justify-content: center;
border: none;  
}
  
  div h2 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  
  .recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .recommendation-card {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  }
  
  .main-container{
    height: 100%;
    width: 100%;
    background: black;
    padding-top: 50px;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
